.starContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.movieContent {
    display: flex;
    align-items: center;
}

.imageContainer {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 119px;
    height: 170px;
}

.textContainer {
    flex: 1;
}

.textContainer>* {
    margin-bottom: 5px;
}

.genreText {
    max-width: 100%;
    overflow-wrap: break-word;
}

.movieContent {
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .movieContent {
        flex-direction: row;
    }
}

.imageContainer {
    margin-bottom: 16px;
}

@media (min-width: 576px) {
    .imageContainer {
        margin-bottom: 0;
        margin-right: 16px;
    }
}

.starAndRatingContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}

.starContainer {
    display: flex;
    align-items: center;
}