.movieContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageContainer {
    margin-bottom: 16px;
    width: 119px;
    height: 170px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.genreText {
    max-width: 100%;
    overflow-wrap: break-word;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.titleContainer {
    flex: 1;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.titleText {
    font-size: 20px;
    font-weight: 600;
    color: #9854F6;
    cursor: pointer;
    word-break: break-all;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    padding-left: 0;
}

.ratingContainer svg {
    margin-right: 5px;
}

.starAndRatingContainer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .movieContent {
        flex-direction: row;
    }

    .imageContainer {
        margin-bottom: 0;
        margin-right: 16px;
    }
}