.starContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.movieContent {
    display: flex;
    align-items: center;
}

.imageContainer {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 119px;
    height: 170px;
}

.textContainer {
    flex: 1;
}

.textContainer>* {
    margin-bottom: 5px;
}

.genreText {
    max-width: 100%;
    overflow-wrap: break-word;
}