.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardBackground {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    max-height: 200px;
    margin: 0 auto;
}

.starContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.movieContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Adjust to column for mobile */
}

.textContainer {
    margin-left: 20px;
    margin-top: 15px;
    /* Add spacing for mobile view */
    text-align: center;
    /* Center text for better readability on small screens */
}

.columnContainer {
    margin-top: 40px;
    align-items: flex-start;
}

.columnPair {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.textOpposite {
    margin: 0;
    color: #7B7C88;
    text-align: left;
}

/* Add responsive styles */
@media (max-width: 768px) {
    .movieContent {
        flex-direction: column;
        /* Stack content vertically */
    }

    .textContainer {
        margin-left: 0;
        text-align: center;
    }

    .columnContainer {
        margin-top: 20px;
    }

    .columnPair {
        flex-direction: column;
        /* Stack column pairs for better readability */
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .cardBackground {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .cardBackground {
        max-width: 100%;
        /* Allow full width for smaller screens */
        padding: 10px;
    }

    .textContainer {
        margin-left: 0;
    }
}